body {
  margin: 0;
  font-family: "Segoe UI";
  background: #f4f7fb;
}

/* LOGIN */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 300px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

/* NAVBAR */
.navbar {
  background: linear-gradient(135deg, #4facfe, #00c6ff);
  color: white;
  padding: 18px 30px;
  margin: 15px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
}

/* SUMMARY */
.summary-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin: 20px;
}

.summary-card {
  background: linear-gradient(135deg, #43e97b, #38f9d7);
  padding: 20px;
  border-radius: 12px;
  color: white;
  font-weight: bold;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

/* CARD */
.card {
  background: white;
  border-radius: 16px;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.card:hover {
  transform: translateY(-6px);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-body {
  padding: 15px;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.tag {
  background: #4CAF50;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
}

.location {
  color: gray;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

/* PROGRESS */
.progress {
  height: 6px;
  background: #eee;
  border-radius: 10px;
  margin: 10px 0;
}

.progress div {
  height: 100%;
  background: #4CAF50;
}

/* BUTTONS */
.actions {
  display: flex;
  gap: 10px;
}

button {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 8px;
  background: #4facfe;
  color: white;
  cursor: pointer;
}

button.outline {
  background: transparent;
  border: 1px solid #4facfe;
  color: #4facfe;
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.modal-box {
  background: white;
  padding: 20px;
  margin: 100px auto;
  width: 300px;
  border-radius: 10px;
}